.products {
  width: 90vw;
  max-width: 1170px;
  text-transform: capitalize;
  margin: 0 auto;
}
.products div {
  height: 15rem;
}
.products h4 {
  margin-top: 1rem;
}
.products span {
  margin-left: 2rem;
  color: gray;
}
.products article {
  margin: 2rem 0;
}
@media screen and (min-width: 768px) {
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
